In [36]:
import pandas as pd
import numpy as np

In [37]:
ratings = pd.read_csv("E:/DataScience_2019501123/DADV/assignments/data/title.ratings.tsv", delimiter = '\t')

In [38]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1702
1  tt0000002            6.1       210
2  tt0000003            6.5      1458
3  tt0000004            6.2       123
4  tt0000005            6.2      2260

In [39]:
basics_movie = pd.read_csv("E:/DataScience_2019501123/DADV/assignments/data/title.basic.tsv", delimiter = '\t')

C:\Users\pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
basics_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [41]:
rating_above_eight = ratings[ratings['averageRating'] > 8.0]
rating_above_eight

            tconst  averageRating  numVotes
275      tt0000361            8.1        10
300      tt0000417            8.2     45085
611      tt0000961            8.2        13
691      tt0001089            8.3        19
748      tt0001233            8.6         5
...            ...            ...       ...
1151587  tt9916380            9.0       104
1151590  tt9916460            9.3        15
1151592  tt9916538            8.3         6
1151595  tt9916578            8.1        25
1151597  tt9916628            8.6         5

[226849 rows x 3 columns]

In [42]:
sorted_Votes = rating_above_eight.sort_values('numVotes', ascending = False).head(20)
sorted_Votes

           tconst  averageRating  numVotes
81977   tt0111161            9.3   2388982
247668  tt0468569            9.0   2351602
601552  tt1375666            8.8   2110186
98364   tt0137523            8.8   1889410
81760   tt0110912            8.9   1860045
80887   tt0109830            8.8   1848201
426793  tt0944947            9.3   1807216
96238   tt0133093            8.7   1707941
89757   tt0120737            8.8   1691012
113314  tt0167260            8.9   1670252
45804   tt0068646            9.2   1655447
390507  tt0816692            8.6   1554804
591139  tt1345836            8.4   1542912
113315  tt0167261            8.7   1510541
416889  tt0903747            9.4   1507039
84529   tt0114369            8.6   1474768
696641  tt1853728            8.4   1386779
115755  tt0172495            8.5   1364292
207599  tt0372784            8.2   1330671
75175   tt0102926            8.6   1296498

In [43]:
merged_output = pd.merge(sorted_Votes, basics_movie, on= 'tconst')
merged_output

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2388982,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2351602,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2110186,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1889410,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1860045,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1848201,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
6,tt0944947,9.3,1807216,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama"
7,tt0133093,8.7,1707941,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1691012,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1670252,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
10,tt0068646,9.2,1655447,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
11,tt0816692,8.6,1554804,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi"
12,tt1345836,8.4,1542912,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Adventure"
13,tt0167261,8.7,1510541,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama"
14,tt0903747,9.4,1507039,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,49,"Crime,Drama,Thriller"
15,tt0114369,8.6,1474768,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery"
16,tt1853728,8.4,1386779,movie,Django Unchained,Django Unchained,0,2012,\N,165,"Drama,Western"
17,tt0172495,8.5,1364292,movie,Gladiator,Gladiator,0,2000,\N,155,"Action,Adventure,Drama"
18,tt0372784,8.2,1330671,movie,Batman Begins,Batman Begins,0,2005,\N,140,"Action,Adventure"
19,tt0102926,8.6,1296498,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,"Crime,Drama,Thriller"

In [44]:
movies_type = merged_output.loc[merged_output['titleType'] == 'movie']

In [45]:
title = movies_type[['originalTitle','averageRating' ]].head(20)
title

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
1                                     The Dark Knight            9.0
2                                           Inception            8.8
3                                          Fight Club            8.8
4                                        Pulp Fiction            8.9
5                                        Forrest Gump            8.8
7                                          The Matrix            8.7
8   The Lord of the Rings: The Fellowship of the Ring            8.8
9       The Lord of the Rings: The Return of the King            8.9
10                                      The Godfather            9.2
11                                       Interstellar            8.6
12                              The Dark Knight Rises            8.4
13              The Lord of the Rings: The Two Towers            8.7
15                                              Se7en            8.6
16                                   Django Unchained            8.4
17                                          Gladiator            8.5
18                                      Batman Begins            8.2
19                           The Silence of the Lambs            8.6

In [46]:
title.sort_values('averageRating', ascending = False)

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
10                                      The Godfather            9.2
1                                     The Dark Knight            9.0
4                                        Pulp Fiction            8.9
9       The Lord of the Rings: The Return of the King            8.9
2                                           Inception            8.8
3                                          Fight Club            8.8
5                                        Forrest Gump            8.8
8   The Lord of the Rings: The Fellowship of the Ring            8.8
7                                          The Matrix            8.7
13              The Lord of the Rings: The Two Towers            8.7
11                                       Interstellar            8.6
15                                              Se7en            8.6
19                           The Silence of the Lambs            8.6
17                                          Gladiator            8.5
12                              The Dark Knight Rises            8.4
16                                   Django Unchained            8.4
18                                      Batman Begins            8.2

In [47]:
title.to_csv('E:/DataScience_2019501123/DADV/assignments/popular_movies.csv' )

In [48]:
type(basics_movie)

pandas.core.frame.DataFrame

In [49]:
basics_movie.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [50]:
basics_movie['startYear'] = pd.to_numeric(basics_movie['startYear'], errors='coerce')

In [51]:
basics_movie.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [52]:
year = basics_movie[basics_movie.startYear >= 2000]
year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11060,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019.0,\N,67,Drama
11637,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,\N,\N,"Action,Crime"
15181,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N
16659,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical"
18034,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short"
...,...,...,...,...,...,...,...,...,...
7903248,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010.0,\N,\N,"Action,Drama,Family"
7903249,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010.0,\N,\N,"Action,Drama,Family"
7903250,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010.0,\N,\N,"Action,Drama,Family"
7903251,tt9916856,short,The Wind,The Wind,0,2015.0,\N,27,Short
7903252,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,\N,10,"Animation,Comedy,Family"

In [53]:
year_rating_merged = pd.merge(year, ratings, on= 'tconst')
year_rating_merged

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019.0,\N,67,Drama,6.3,23
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N,5.4,11
2,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical",5.6,15
3,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short",6.6,31
4,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,Action,6.3,52
...,...,...,...,...,...,...,...,...,...,...,...
778048,tt9916682,tvEpisode,Horrid Henry It's all Your Fault,Horrid Henry It's all Your Fault,0,2012.0,\N,10,"Animation,Comedy,Family",5.6,5
778049,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012.0,\N,10,"Animation,Comedy,Family",6.6,5
778050,tt9916720,short,The Nun 2,The Nun 2,0,2019.0,\N,10,"Comedy,Horror,Mystery",6.4,80
778051,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,\N,43,"Family,Reality-TV",6.9,16
778052,tt9916778,tvEpisode,Escape,Escape,0,2019.0,\N,\N,"Drama,Mystery,Romance",7.5,27

In [54]:
num_votes = year_rating_merged[year_rating_merged.numVotes > 40000]
num_votes

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
5,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,79778
59,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000.0,\N,98,"Drama,Romance",8.1,129619
92,tt0120630,movie,Chicken Run,Chicken Run,0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,179268
93,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,314357
95,tt0120679,movie,Frida,Frida,0,2002.0,\N,123,"Biography,Drama,Romance",7.4,82563
...,...,...,...,...,...,...,...,...,...,...,...
774458,tt9784798,movie,Judas and the Black Messiah,Judas and the Black Messiah,0,2021.0,\N,126,"Biography,Drama,History",7.5,45866
775241,tt9815454,tvMiniSeries,Unorthodox,Unorthodox,0,2020.0,2020,213,Drama,8.0,61890
776604,tt9866072,movie,Holidate,Holidate,0,2020.0,\N,104,"Comedy,Romance",6.1,48712
777306,tt9893250,movie,I Care a Lot,I Care a Lot,0,2020.0,\N,118,"Comedy,Crime,Thriller",6.3,95099
777703,tt9906260,tvEpisode,Hero,Hero,0,2019.0,\N,24,"Action,Adventure,Animation",9.9,60115

In [55]:
sorted_rates = num_votes.sort_values('averageRating', ascending = False)
sorted_rates

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
410908,tt2301451,tvEpisode,Ozymandias,Ozymandias,0,2013.0,\N,48,"Crime,Drama,Thriller",10.0,136598
777703,tt9906260,tvEpisode,Hero,Hero,0,2019.0,\N,24,"Action,Adventure,Animation",9.9,60115
533890,tt4283094,tvEpisode,The Winds of Winter,The Winds of Winter,0,2016.0,\N,68,"Action,Adventure,Drama",9.9,135520
756750,tt9166696,tvEpisode,Vichnaya Pamyat,Vichnaya Pamyat,0,2019.0,\N,72,"Drama,History,Thriller",9.9,54615
396920,tt2178784,tvEpisode,The Rains of Castamere,The Rains of Castamere,0,2013.0,\N,51,"Action,Adventure,Drama",9.9,93347
...,...,...,...,...,...,...,...,...,...,...,...
174084,tt10888594,movie,Radhe,Radhe,0,2021.0,\N,135,"Action,Crime,Thriller",2.1,40675
224121,tt1213644,movie,Disaster Movie,Disaster Movie,0,2008.0,\N,87,"Comedy,Sci-Fi",1.9,87820
335805,tt1702443,movie,Justin Bieber: Never Say Never,Justin Bieber: Never Say Never,0,2011.0,\N,105,"Documentary,Music",1.6,75116
624270,tt5988370,movie,Reis,Reis,0,2017.0,\N,108,"Biography,Drama",1.4,72612
710251,tt7886848,movie,Sadak 2,Sadak 2,0,2020.0,\N,133,"Action,Drama",1.1,66069

In [56]:
only_movies = sorted_rates.loc[sorted_rates['titleType'] == 'movie'].head(20)
only_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
436312,tt2592910,movie,CM101MMXI Fundamentals,CM101MMXI Fundamentals,0,2013.0,\N,139,"Comedy,Documentary",9.2,44221
144836,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0,2020.0,\N,153,Drama,9.1,62010
54918,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,\N,152,"Action,Crime,Drama",9.0,2351602
472,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1670252
614610,tt5813916,movie,The Mountain II,Dag II,0,2016.0,\N,135,"Action,Drama,War",8.8,105922
276441,tt1375666,movie,Inception,Inception,0,2010.0,\N,148,"Action,Adventure,Sci-Fi",8.8,2110186
99,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1691012
473,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002.0,\N,179,"Action,Adventure,Drama",8.7,1510541
662173,tt6751668,movie,Parasite,Gisaengchung,0,2019.0,\N,132,"Comedy,Drama,Thriller",8.6,604246
105576,tt0816692,movie,Interstellar,Interstellar,0,2014.0,\N,169,"Adventure,Drama,Sci-Fi",8.6,1554804
3721,tt0245429,movie,Spirited Away,Sen to Chihiro no kamikakushi,0,2001.0,\N,125,"Adventure,Animation,Family",8.6,669324
16566,tt0317248,movie,City of God,Cidade de Deus,0,2002.0,\N,130,"Crime,Drama",8.6,708623
59388,tt0482571,movie,The Prestige,The Prestige,0,2006.0,\N,130,"Drama,Mystery,Sci-Fi",8.5,1213717
4613,tt0253474,movie,The Pianist,The Pianist,0,2002.0,\N,150,"Biography,Drama,Music",8.5,747394
733305,tt8503618,movie,Hamilton,Hamilton,0,2020.0,\N,160,"Biography,Drama,History",8.5,63986
532,tt0172495,movie,Gladiator,Gladiator,0,2000.0,\N,155,"Action,Adventure,Drama",8.5,1364292
37160,tt0407887,movie,The Departed,The Departed,0,2006.0,\N,151,"Crime,Drama,Thriller",8.5,1211342
289933,tt1424432,movie,Senna,Senna,0,2010.0,\N,106,"Biography,Documentary,Sport",8.5,65185
331966,tt1675434,movie,The Intouchables,Intouchables,0,2011.0,\N,112,"Biography,Comedy,Drama",8.5,777218
435788,tt2582802,movie,Whiplash,Whiplash,0,2014.0,\N,106,"Drama,Music",8.5,737144

In [57]:
best_movies= only_movies[['originalTitle','numVotes', 'startYear','averageRating' ]].head(20)
best_movies

,originalTitle,numVotes,startYear,averageRating
436312,CM101MMXI Fundamentals,44221,2013.0,9.2
144836,Soorarai Pottru,62010,2020.0,9.1
54918,The Dark Knight,2351602,2008.0,9.0
472,The Lord of the Rings: The Return of the King,1670252,2003.0,8.9
614610,Dag II,105922,2016.0,8.8
276441,Inception,2110186,2010.0,8.8
99,The Lord of the Rings: The Fellowship of the Ring,1691012,2001.0,8.8
473,The Lord of the Rings: The Two Towers,1510541,2002.0,8.7
662173,Gisaengchung,604246,2019.0,8.6
105576,Interstellar,1554804,2014.0,8.6
3721,Sen to Chihiro no kamikakushi,669324,2001.0,8.6
16566,Cidade de Deus,708623,2002.0,8.6
59388,The Prestige,1213717,2006.0,8.5
4613,The Pianist,747394,2002.0,8.5
733305,Hamilton,63986,2020.0,8.5
532,Gladiator,1364292,2000.0,8.5
37160,The Departed,1211342,2006.0,8.5
289933,Senna,65185,2010.0,8.5
331966,Intouchables,777218,2011.0,8.5
435788,Whiplash,737144,2014.0,8.5

In [58]:
best_movies.sort_values('numVotes', ascending=False)

,originalTitle,numVotes,startYear,averageRating
54918,The Dark Knight,2351602,2008.0,9.0
276441,Inception,2110186,2010.0,8.8
99,The Lord of the Rings: The Fellowship of the Ring,1691012,2001.0,8.8
472,The Lord of the Rings: The Return of the King,1670252,2003.0,8.9
105576,Interstellar,1554804,2014.0,8.6
473,The Lord of the Rings: The Two Towers,1510541,2002.0,8.7
532,Gladiator,1364292,2000.0,8.5
59388,The Prestige,1213717,2006.0,8.5
37160,The Departed,1211342,2006.0,8.5
331966,Intouchables,777218,2011.0,8.5
4613,The Pianist,747394,2002.0,8.5
435788,Whiplash,737144,2014.0,8.5
16566,Cidade de Deus,708623,2002.0,8.6
3721,Sen to Chihiro no kamikakushi,669324,2001.0,8.6
662173,Gisaengchung,604246,2019.0,8.6
614610,Dag II,105922,2016.0,8.8
289933,Senna,65185,2010.0,8.5
733305,Hamilton,63986,2020.0,8.5
144836,Soorarai Pottru,62010,2020.0,9.1
436312,CM101MMXI Fundamentals,44221,2013.0,9.2

In [59]:
best_movies.to_csv('E:/DataScience_2019501123/DADV/assignments/movie_highvotes.csv')