In [2]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv("E:/DataScience_2019501123/DADV/assignments/data/title.ratings.tsv", delimiter = '\t')

In [4]:
basics_movie = pd.read_csv("E:/DataScience_2019501123/DADV/assignments/data/title.basic.tsv", delimiter = '\t')

C:\Users\pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
basics_movie['startYear'] = pd.to_numeric(basics_movie['startYear'], errors='coerce')

In [6]:
year = basics_movie[(basics_movie.startYear >= 1900) & (basics_movie.startYear <= 1999)]
year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
157,tt0000160,short,The Last Days of Pompeii,The Last Days of Pompeii,0,1900.0,\N,\N,"Drama,Short"
217,tt0000220,short,The Artist and the Flower Girl,The Artist and the Flower Girl,0,1901.0,\N,\N,"Romance,Short"
262,tt0000265,short,Above the Limit,Above the Limit,0,1900.0,\N,\N,"Comedy,Short"
263,tt0000266,short,Above the Speedway,Above the Speedway,0,1900.0,\N,\N,"Documentary,Short"
264,tt0000267,short,L'angélus,L'angélus,0,1900.0,\N,\N,Short
...,...,...,...,...,...,...,...,...,...
7903159,tt9916660,tvEpisode,Episode dated 2 February 1993,Episode dated 2 February 1993,0,1993.0,\N,\N,\N
7903196,tt9916738,tvEpisode,Meditation for a Young Boy Confirmed,Meditation for a Young Boy Confirmed,0,1973.0,\N,\N,Family
7903197,tt9916740,tvEpisode,"From All Saints' Church, Burton Dassett","From All Saints' Church, Burton Dassett",0,1973.0,\N,\N,Family
7903198,tt9916742,tvEpisode,"From Victoria College, Jersey","From Victoria College, Jersey",0,1973.0,\N,\N,Family
7903239,tt9916830,tvEpisode,Episode #2.6,Episode #2.6,0,1973.0,\N,\N,Game-Show

In [7]:
year_rating_merged = pd.merge(year, ratings, on='tconst')
year_rating_merged

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000160,short,The Last Days of Pompeii,The Last Days of Pompeii,0,1900.0,\N,\N,"Drama,Short",5.4,11
1,tt0000265,short,Above the Limit,Above the Limit,0,1900.0,\N,\N,"Comedy,Short",4.3,103
2,tt0000269,short,"Army Life; or, How Soldiers Are Made: Mounted ...",Army Life,0,1900.0,\N,\N,"Documentary,Short",4.9,100
3,tt0000271,short,Arrivée de Pierette et Pierrot,Arrivée de Pierette et Pierrot,0,1900.0,\N,\N,Short,6.2,8
4,tt0000272,short,As Seen Through a Telescope,As Seen Through a Telescope,0,1900.0,\N,1,"Comedy,Short",5.6,710
...,...,...,...,...,...,...,...,...,...,...,...
370620,tt9909866,video,Nora,Nora,0,1985.0,\N,45,"Action,Adventure,Animation",4.3,10
370621,tt9914702,tvEpisode,Episode dated 5 February 1988,Episode dated 5 February 1988,0,1988.0,\N,\N,\N,7.2,15
370622,tt9915498,video,R. Kelly: If I Could Turn Back the Hands of Time,R. Kelly: If I Could Turn Back the Hands of Time,0,1999.0,\N,\N,"Music,Short",5.8,6
370623,tt9915946,movie,Nuestra película,Nuestra película,0,1993.0,\N,96,Documentary,6.2,6
370624,tt9916220,tvEpisode,Episode dated 18 May 1988,Episode dated 18 May 1988,0,1988.0,\N,\N,\N,7.1,13

In [8]:
only_movies = year_rating_merged.loc[year_rating_merged['titleType'] == 'movie']
only_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
114,tt0000502,movie,Bohemios,Bohemios,0,1905.0,\N,100,\N,4.5,8
148,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,\N,70,"Action,Adventure,Biography",6.1,632
157,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,\N,90,Drama,6.0,5
172,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907.0,\N,\N,Drama,4.5,14
180,tt0000630,movie,Hamlet,Amleto,0,1908.0,\N,\N,Drama,3.8,12
...,...,...,...,...,...,...,...,...,...,...,...
370541,tt9870502,movie,Star Trek: The Infinite Chain,Star Trek: The Infinite Chain,0,1994.0,\N,108,Sci-Fi,5.8,5
370587,tt9890850,movie,Leyli va Macnun,Leyli va Macnun,0,1961.0,\N,93,"Drama,History,Romance",5.9,8
370598,tt9894108,movie,vajau ka?,vajau ka?,0,1996.0,\N,\N,Comedy,7.5,15
370610,tt9909462,movie,An Unprecedented Campaign,Nebyvalyy pokhod,0,1931.0,\N,71,Documentary,7.5,8
370623,tt9915946,movie,Nuestra película,Nuestra película,0,1993.0,\N,96,Documentary,6.2,6

In [9]:
popular_movie = only_movies.sort_values('numVotes', ascending = False)

In [10]:
movies = only_movies[['originalTitle','startYear','averageRating', 'numVotes' ]]
movies

                        originalTitle  startYear  averageRating  numVotes
114                          Bohemios     1905.0            4.5         8
148       The Story of the Kelly Gang     1906.0            6.1       632
157                 L'enfant prodigue     1907.0            6.0         5
172                Robbery Under Arms     1907.0            4.5        14
180                            Amleto     1908.0            3.8        12
...                               ...        ...            ...       ...
370541  Star Trek: The Infinite Chain     1994.0            5.8         5
370587                Leyli va Macnun     1961.0            5.9         8
370598                      vajau ka?     1996.0            7.5        15
370610               Nebyvalyy pokhod     1931.0            7.5         8
370623               Nuestra película     1993.0            6.2         6

[123008 rows x 4 columns]

In [11]:
movies.to_csv('E:/DataScience_2019501123/DADV/assignments/movies_1900.csv' )